// --------------------------------------------------------------------------
// ASPECT BASE
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - base/sizing
 *
 *
 * USED WITH
 * -
 * 
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-aspect == true {
	.aspect {
		@extend %oneWhole;
		height: auto;
	}

	.aspect--portrait {
		width: auto;
		height: 100%;
	}

	.aspect--wide {
		width: auto;
		height: 100%;
	}
}