// --------------------------------------------------------------------------
// CLEARFIX BASE
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.clearfix {
	@extend %clearfix;
}