// --------------------------------------------------------------------------
// FORMFIELD BASE
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-formfields == true {

	/**
	 * Formfiled styling
	 * 
	 */

	 .formfield {
	 	+ .formfield {
	 		margin-top: $Leading * 2;
	 	}

	 	label {
	 		display: block;
	 	}

	 	input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="text"],
		input[type="tel"],
		input[type="url"],
		input[type="password"],
		textarea,
		select {
	 		width: 100%;
	 	}
	 }
}