// --------------------------------------------------------------------------
// LISTS BASE
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$listInline-verticalAlign: top !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%list-noBullet {
	padding-left: 0;
	list-style: none;
}


%list-inline {
	@extend %clearfix;

	li {
		display: inline-block;
		vertical-align: $listInline-verticalAlign;
		margin-right: $Leading * 2;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-lists == true {

	@if $use-base-lists--noBullet == true {
	
		/*
		 * noBullet list
		 */

		.list-noBullet {
			@extend %list-noBullet;
		}
	}


	
	@if $use-base-lists--inline == true {
		
		/*
		 * inline list
		 */

		.list-inline {
			@extend %list-inline;
		}
	}
}