// --------------------------------------------------------------------------
// TYPE BASE
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%typeHeading {
	font-family: $FontFamily-heading;
	margin: $Margin-heading;
}


%typeHeading-1 {
	line-height: $LineHeight-h1;
}


%typeHeading-2 {
	font-size: $FontSize-h2;
	line-height: $LineHeight-h2;
}


%typeHeading-3 {
	font-size: $FontSize-h3;
	line-height: $LineHeight-h3;
}


%typeHeading-4 {
	font-size: $FontSize-h4;
	line-height: $LineHeight-h4;
}


%typeHeading-5 {
	font-size: $FontSize-h5;
	line-height: $LineHeight-h5;
}


%typeCopy {
	font-size: $FontSize-b;
	line-height: $LineHeight-b;
	margin: $Margin-copy;
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-typography == true {

	/**
	 * typeHeading Notes
	 * - Default typeHeading styles that is used to add constant
	 * styling to typeHeadings
	 */

	.typeHeading {
		@extend %typeHeading;
	}

	
	/**
	 * H1 Notes
	 * - Font size set by Normalize
	 * - Margin set by Normalize
	 */

	.typeHeading-1 {
		@extend %typeHeading-1;
	}


	/**
	 * H2 Notes
	 *
	 */

	.typeHeading-2 {
		@extend %typeHeading-2;
	}


	/**
	 * H3 Notes
	 *
	 */

	.typeHeading-3 {
		@extend %typeHeading-3;
	}

	/**
	 * H4 Notes
	 *
	 */

	.typeHeading-4 {
		@extend %typeHeading-4;
	}


	/**
	 * H5 Notes
	 *
	 */

	.typeHeading-5 {
		@extend %typeHeading-5;
	}


	/**
	 * Copy Notes
	 *
	 */

	.typeCopy {
		@extend %typeCopy;
	}

}