// --------------------------------------------------------------------------
// MEDIA ELEMENT COMPONENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$mediaElement-margin: $Leading * 2 !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-component-mediaElement == true {

	// .Media {
	// 	margin: $mediaElement-margin;
	// }

	.Media,
	.Media-body {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
	}

	.Media-img,
	.Media-imgAlt {
		img {
			display: block;
		}
	}

	.Media-img {
		float: left;
		margin-right: $mediaElement-margin;
	}

	.Media-imgAlt {
		float: right;
		margin-left: $mediaElement-margin;
	}


}