// GLOBAL VARIABLES
//
// The global variables
//
// VARIABLES </br>
//
// Base colours
//
// - $Colour-black: #000 !default; </br>
// - $Colour-white: #fff !default; </br>
//
//
// Semantic colour naming </br>
//
// - $Colour-base: #444 !default; </br>
// - $Colour-baseFont: $Colour-base !default; </br>
// - $Colour-baseFont--light: lighten($Colour-base, 30%) !default; </br>
// - $Colour-primary: #549CEF !default; </br>
// - $Colour-primary--darken: #4784CB !default; </br>
// - $Colour-border: #ddd !default; </br>
// - $Colour-inactive: #999 !default; </br>
//
//
// Type variables </br>
//
// - $FontFamily-heading: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default; </br>
// - $FontFamily-copy: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default; </br>
// - $FontFamily-mono: Consolas, "Andale Mono WT", "Andale Mono", Courier, monospace !default; </br>
// - $FontWeight-bold: 700; </br>
// - $FontWeight-normal: 400; </br>
// - $FontSize-h1: 48px !default; </br>
// - $LineHeight-h1: 1.25 !default; </br>
// - $FontSize-h2: 36px !default; </br>
// - $LineHeight-h2: 1.3 !default; </br>
// - $FontSize-h3: 24px !default; </br>
// - $LineHeight-h3: 1.4 !default; </br>
// - $FontSize-h4: 20px !default; </br>
// - $LineHeight-h4: 1.5 !default; </br>
// - $FontSize-h5: 18px !default; </br>
// - $LineHeight-h5: 1.5 !default; </br>
// - $FontSize-b: 14px !default; </br>
// - $LineHeight-b: 1.5 !default; </br>
// - $FontSize-small: 11px !default; </br>
// - $FontSize-lead: $FontSize-h5 !default; </br>
// - $Margin-heading: 0.67em 0 !default; </br>
// - $Margin-copy: 0.67em 0 !default; </br>
//
// Spacing variables
// - $Leading: 6px; </br>
//
// Styleguide 2.1.0.

// TODO: Add more global shared variables for things like link text decoration
// which if you set all links to text decoration none removes the nav list
// text decoration removal....


// --------------------------------------------------------------------------
// Global Variables
// --------------------------------------------------------------------------

$c-global-boxSizing: border-box !default;


// --------------------------------------------------------------------------
// Colour Variables
// --------------------------------------------------------------------------

$Colour-black: #000 !default;
$Colour-white: #fff !default;

$Colour-base: #444 !default;
$Colour-baseFont: $Colour-base !default;
$Colour-baseFont--light: lighten($Colour-base, 30%) !default;

$Colour-primary: #549CEF !default;
$Colour-primary--darken: #4784CB !default;

$Colour-border: #ddd !default;

$Colour-inactive: #999 !default;
$Colour-error: #EA4E35 !default;



// --------------------------------------------------------------------------
// Type Variables
// --------------------------------------------------------------------------

$FontFamily-heading: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$FontFamily-copy: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$FontFamily-mono: Consolas, "Andale Mono WT", "Andale Mono", Courier, monospace !default;

$FontWeight-bold: 700 !default;
$FontWeight-normal: 400 !default;

$FontSize-h1: 48px !default;
$LineHeight-h1: 1.25 !default;

$FontSize-h2: 36px !default;
$LineHeight-h2: 1.3 !default;

$FontSize-h3: 24px !default;
$LineHeight-h3: 1.4 !default;

$FontSize-h4: 20px !default;
$LineHeight-h4: 1.5 !default;

$FontSize-h5: 18px !default;
$LineHeight-h5: 1.5 !default;

$FontSize-b: 14px !default;
$LineHeight-b: 1.5 !default;

$FontSize-small: 11px !default;

$FontSize-lead: $FontSize-h5 !default;

$Margin-heading: 0.67em 0 !default;
$Margin-copy: 0.67em 0 !default;



// --------------------------------------------------------------------------
// Spacing Variables
// --------------------------------------------------------------------------

$Leading: 6px !default;
// $Leading: 0.5em;  // TODO: Decide if this should use a different unit


// --------------------------------------------------------------------------
// Breakpoint Variables
// --------------------------------------------------------------------------

$c-Break-alpha: 720px !default;
$c-Break-beta: false !default;
$c-Break-gamma: false !default;

$Break-alpha-namespace: alpha !default;
$Break-beta-namespace: beta !default;
$Break-gamma-namespace: gamma !default;