// --------------------------------------------------------------------------
// FORMFIELDS ELEMENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - base/type
 *
 *
 * USED WITH
 * -
 * 
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$input-padding: ($Leading / 2) ($Leading * 1.5);
$input-height: $Leading * 4;
$c-input-outline: none;

$input-border: 1px solid $Colour-border;
$c-input-borderColour--focus: $Colour-base;
$c-input-borderStyle--focus: false;

$input-borderRadius: 4px;
$input-backgroundColour: $Colour-white;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

/**
 * Input Base extend Notes
 * These styles have been set to give a base style which is consistant across
 * input types
 */

%Input-base {
	height: $input-height;
	border-radius: $input-borderRadius;
	border: $input-border;

	background: $input-backgroundColour;
	@include conditional( $c-input-outline ) { outline: $c-input-outline };
	
	/*
	 * If the outline is hidden then use :focus to style the border colour
	 */
	@include conditional( $c-input-outline ) {
		&:focus {
			@include conditional( $c-input-borderColour--focus ) { border-color: $c-input-borderColour--focus };
			@include conditional( $c-input-borderStyle--focus ) { border-style: $c-input-borderStyle--focus };
		}
	};
	
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

/**
 * Label Notes
 * Very simple base styles which can be built apon with formfield classes
 */

label {
	@extend %typeLabel;
}



/**
 * Input Notes
 * 
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	@extend %Input-base;

	@include conditional( $input-padding ) { padding: $input-padding };
}



/**
 * Input Submit Notes
 * 
 */

input[type="submit"] {
	@extend %button;
}



/**
 * Select Notes
 * 
 */

select {
	@extend %Input-base;
}