<!--(bake includes/header.html)-->

<div class="Stack">
	<div class="Grid-row">
		<div class="Grid-column oneWhole">
			<h1>Hello!</h1>
			<h2>Howdy!</h2>
			<h3>Bonjour!</h3>
			<h4>Bye</h4>
			<h5>Bye!</h5>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, autem enim dignissimos deserunt atque, quod. Facilis, voluptatibus ut consectetur ab ipsa. Reprehenderit quisquam harum excepturi vel eligendi quia, et quod.</p>

			<ul>
				<li>Two</li>
				<li>One</li>
				<li>Three</li>
			</ul>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, optio adipisci ipsam ea perspiciatis dolore labore voluptate laudantium ad fugit provident consequatur iure cumque non reprehenderit et nisi repellat deserunt!</p>

			<ol>
				<li>One</li>
				<li>Two</li>
				<li>Three</li>
			</ol>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque inventore itaque tempore deleniti ipsa. Cum quasi natus ab dolores dolorem voluptas laudantium consequatur, ullam. Quam incidunt iste vero voluptatem exercitationem.</p>
		</div>
	</div>
</div>

<div class="Stack">
	<div class="GridCover-row" style="height:140px;">
		<div class="GridCover-column GridCover-column--bottom oneQuarter">
			<p>Superman</p>
		</div>

		<div class="GridCover-column GridCover-column--middle oneQuarter">
			<p>Up</p>
		</div>

		<div class="GridCover-column oneQuarter">
			<p>Up</p>
		</div>

		<div class="GridCover-column GridCover-column--bottom oneQuarter">
			<p>Down</p>
		</div>
	</div>
</div>

<div class="Stack">
	<div class="Grid-row">
		<div class="Grid-column oneWhole">
			<img src="http://placehold.it/600x300" alt="" class="aspect">
			<img src="http://placehold.it/600x300" alt="" class="aspect oneWhole">
			<img src="http://placehold.it/600x300" alt="" class="oneThird">
		</div>
	</div>
</div>

<div class="Stack">
	<div class="Grid-row">
		<div class="Grid-column oneHalf">
			<form action="">
				<div>
					<label for="text_input">Input label</label>
					<input type="text" placeholder="Input placeholder..." id="text_input">
				</div>

				<div>
					<label for="email_input">Email input label</label>
					<input type="email" placeholder="Input email placeholder..." id="email_input">
				</div>

				<div>
					<label for="select_input">Email input label</label>
					<select name="" id="select_input">
						<option value="">Option 1</option>
						<option value="">Option 2</option>
						<option value="">Option 3</option>
						<option value="">Option 4</option>
					</select>
				</div>

				<div>
					<input type="submit">
				</div>
			</form>
		</div>

		<div class="Grid-column oneHalf">
			<form action="">
				<div class="formfield">
					<label for="text_input">Input label</label>
					<input type="text" placeholder="Input placeholder..." id="text_input">
				</div>

				<div class="formfield">
					<label for="email_input">Email input label</label>
					<input type="email" placeholder="Input email placeholder..." id="email_input">
				</div>

				<div class="formfield">
					<label for="select_input">Email input label</label>
					<select name="" id="select_input">
						<option value="">Option 1</option>
						<option value="">Option 2</option>
						<option value="">Option 3</option>
						<option value="">Option 4</option>
					</select>
				</div>

				<div class="formfield">
					<input type="submit">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="Stack">
	<nav>
		<input type="checkbox" id="Nav-itemToggle" class="Nav-itemToggleCheck">

		<ul class="Nav Nav-listInline Nav-bar">
			<li class="Nav-item Nav-itemBrand"><a href="#">Stacks</a></li>
			<li class="Nav-item"><a href="#">Default nav item styling</a></li>
			<li class="Nav-item"><a href="">Nav item</a></li>
			<li class="Nav-item"><a href="">Another one</a></li>
			<li class="Nav-item"><a href="">Beautiful</a></li>
			<li class="Nav-item Nav-itemToggle">
				<label for="Nav-itemToggle" class="Nav-itemToggleLabel">Menu</label>
			</li>
		</ul>
	</nav>
</div>

<div class="Stack">
	<div class="Grid-row">
		<div class="Grid-column oneHalf">
			<nav>
				<ul class="Nav">
					<li class="Nav-item"><a href="#">Default nav item styling</a></li>
					<li class="Nav-item"><a href="">Nav item</a></li>
					<li class="Nav-item"><a href="">Another one</a></li>
					<li class="Nav-item"><a href="">Beautiful</a></li>
				</ul>
			</nav>
		</div>

		<div class="Grid-column oneHalf">
			<nav>
				<ul class="Nav Nav-list">
					<li class="Nav-item"><a href="#">Default nav item styling</a></li>
					<li class="Nav-item"><a href="">Nav item</a></li>
					<li class="Nav-item"><a href="">Another one</a></li>
					<li class="Nav-item"><a href="">Beautiful</a></li>
				</ul>
			</nav>
		</div>

		<div class="Grid-column oneWhole">
			<nav>
				<ul class="Nav Nav-listInline">
					<li class="Nav-item"><a href="#">Default nav item styling</a></li>
					<li class="Nav-item"><a href="">Nav item</a></li>
					<li class="Nav-item"><a href="">Another one</a></li>
					<li class="Nav-item"><a href="">Beautiful</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="Stack">
	<div class="Grid-row">
		<div class="Grid-column">
			<div class="Media">
				<div class="Media-img"><img src="http://placehold.it/340x200" alt=""></div>
				<div class="Media-body">
					<h2>Media element title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sed odio tenetur magni, repellendus assumenda! Ad, quod! Impedit voluptates reiciendis nostrum corrupti aliquam rerum magnam ipsum, expedita laborum, nulla similique!</p>
				</div>
			</div>

			<div class="Media">
				<div class="Media-imgAlt"><img src="http://placehold.it/340x200" alt=""></div>
				<div class="Media-body">
					<h2>Media element title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sed odio tenetur magni, repellendus assumenda! Ad, quod! Impedit voluptates reiciendis nostrum corrupti aliquam rerum magnam ipsum, expedita laborum, nulla similique!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!--(bake includes/footer.html)-->