<!--(bake includes/header.html)-->

<div class="Grid-row">
	<div class="Grid-column oneHalf">
		<h1>Hello!</h1>
		<h2>Howdy!</h2>
		<h3>Bonjour!</h3>
	</div>

	<div class="Grid-column oneHalf">
		<h4>Hola!</h4>
		<h4>Ciao!</h4>
	</div>
</div>

<div class="Grid-row">
	<div class="Grid-column">
		<h1>bye!</h1>
	</div>
</div>

<div class="GridCover-row" style="height:140px;">
	<div class="GridCover-column GridCover-column--bottom oneQuarter">
		<p>Superman</p>
	</div>

	<div class="GridCover-column GridCover-column--middle oneQuarter">
		<p>Up</p>
	</div>

	<div class="GridCover-column oneQuarter">
		<p>Up</p>
	</div>

	<div class="GridCover-column GridCover-column--bottom oneQuarter">
		<p>Down</p>
	</div>
</div>

<!--(bake includes/footer.html)-->