@charset "UTF-8";

/**
 * Using normalize.css we have added in some variables so that the base
 * styling can be customised.
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

/**
 * Using reset.css we can reset styling to start from scratch.
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * TODO: Create a generator mixin which can be used to create custom aspects
 */

.aspect {
  width: 100%;
  height: auto;
}

.aspect--portrait {
  width: auto;
  height: 100%;
}

.button,
button,
input[type="submit"],
.Nav-itemToggleLabel,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 7.5px 15px;
  font-size: 11px;
  font-size: 0.78571rem;
  line-height: 1.54545;
  outline: none;
  background-color: transparent;
  border: 1px solid #549CEF;
  border-radius: 4px;
}

.button,
button,
input[type="submit"],
.Nav-itemToggleLabel {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-left: 22.5px;
  padding-right: 22.5px;
  font-weight: 700;
  color: #549CEF;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
.Nav-itemToggleLabel:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
.Nav-itemToggleLabel:focus {
  color: #444;
}

.button--primary {
  color: #fff;
  background-color: #549CEF;
  border-color: transparent;
}

.button--primary:hover,
.button--primary:focus {
  color: #444;
  background-color: transparent;
  border-color: #549CEF;
}

.clearfix:after,
.Grid-row:after,
.GridCover-row:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Formfiled styling
 * 
 */

.formfield + .formfield {
  margin-top: 12px;
}

.formfield label {
  display: block;
}

.formfield--fill input[type="email"],
.formfield--fill input[type="number"],
.formfield--fill input[type="search"],
.formfield--fill input[type="text"],
.formfield--fill input[type="tel"],
.formfield--fill input[type="url"],
.formfield--fill input[type="password"],
.formfield--fill input[type="date"],
.formfield--fill input[type="time"],
.formfield--fill textarea,
.formfield--fill select {
  width: 100%;
}

.list-noBullet,
.list-inline,
.Nav {
  padding-left: 0;
  list-style: none;
}

.list-inline li,
.Nav-listInline li,
.Nav-bar li {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

.list-inline li:last-of-type,
.Nav-listInline li:last-of-type,
.Nav-bar li:last-of-type {
  margin-right: 0;
}

/*
 * noBullet list
 */

/*
 * inline list
 */

/*
 * TODO: Think of a better way to generate these classes
 */

.oneWhole,
.Grid-column,
.GridCover-column {
  width: 100%;
}

.oneHalf {
  width: 50%;
}

.oneThird {
  width: 33.33333%;
}

.twoThirds {
  width: 66.66667%;
}

.oneQuarter {
  width: 25%;
}

.twoQuarters {
  width: 50%;
}

.threeQuarters {
  width: 75%;
}

.offset-oneWhole {
  margin-left: 100%;
}

.offset-oneHalf {
  margin-left: 50%;
}

.offset-oneThird {
  margin-left: 33.33333%;
}

.offset-twoThirds {
  margin-left: 66.66667%;
}

.offset-oneQuarter {
  margin-left: 25%;
}

.offset-twoQuarters {
  margin-left: 50%;
}

.offset-threeQuarters {
  margin-left: 75%;
}

/*
 * TODO: Rename %typeLabel so it has a more reusable name
 * TODO: Fix H1 font size is duplication in normalise and the extend
 */

.typeHeading,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

.typeHeading,
h1,
h2,
h3,
h4,
h5 {
  margin: 0.67em 0;
}

.typeHeading:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin: 0;
}

.typeHeading-1,
h1 {
  font-size: 48px;
  font-size: 3.42857rem;
  line-height: 1.25;
}

.typeHeading-2,
h2 {
  font-size: 36px;
  font-size: 2.57143rem;
  line-height: 1.3;
}

.typeHeading-3,
h3 {
  font-size: 24px;
  font-size: 1.71429rem;
  line-height: 1.4;
}

.typeHeading-4,
h4 {
  font-size: 20px;
  font-size: 1.42857rem;
  line-height: 1.5;
}

.typeHeading-5,
h5 {
  font-size: 20px;
  font-size: 1.42857rem;
  line-height: 1.5;
}

.typeCopy,
p {
  margin: 0.67em 0;
}

.typeSmall {
  font-size: 11px;
  font-size: 0.78571rem;
}

.typeLead {
  font-size: 18px;
  font-size: 1.28571rem;
}

.typeLead {
  margin: 0;
}

.typeLabel,
label {
  font-weight: 700;
}

.typeLabel,
label {
  color: #919191;
}

.typeCenter {
  text-align: center;
}

.typeRight {
  text-align: right;
}

.typeLeft {
  text-align: left;
}

/**
 * typeHeading Notes
 * - Default typeHeading styles that is used to add constant
 * styling to typeHeadings
 */

/**
 * H1 Notes
 * - Font size set by Normalize
 * - Margin set by Normalize
 */

/**
 * H2 Notes
 */

/**
 * H3 Notes
 */

/**
 * H4 Notes
 */

/**
 * H5 Notes
 */

/**
 * Copy Notes
 */

/**
 * Small Notes
 */

/**
 * Lead Notes
 */

/**
 * Label Notes
 */

/**
 * Float left styling
 * 
 */

.pullLeft {
  float: left;
}

/**
 * Float right styling
 * 
 */

.pullRight {
  float: right;
}

/*
 * TODO:
 */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*
 * TODO:
 */

blockquote {
  font-size: 18px;
  font-size: 1.28571rem;
  margin: 0;
  padding: 12px 18px;
  font-style: italic;
  position: relative;
}

blockquote footer {
  font-size: 11px;
  font-size: 0.78571rem;
  font-weight: 700;
  font-style: normal;
}

/*
 * TODO: Make button and input styling based on same styles so that when used together they work nicely
 */

/**
 * input Base extend Notes
 * These styles have been set to give a base style which is consistant across
 * input types
 *
 * TODO: See if a hieght is needed to keep consistancy across all input types
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-color: #ddd;
  background: #fff;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #444;
}

/**
 * Placeholder extend Notes
 * Sets the placeholder text colour
 */

input[type="email"] ::-webkit-input-placeholder,
input[type="number"] ::-webkit-input-placeholder,
input[type="search"] ::-webkit-input-placeholder,
input[type="text"] ::-webkit-input-placeholder,
input[type="tel"] ::-webkit-input-placeholder,
input[type="url"] ::-webkit-input-placeholder,
input[type="password"] ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder,
select ::-webkit-input-placeholder {
  color: #999;
}

input[type="email"] :-moz-placeholder,
input[type="number"] :-moz-placeholder,
input[type="search"] :-moz-placeholder,
input[type="text"] :-moz-placeholder,
input[type="tel"] :-moz-placeholder,
input[type="url"] :-moz-placeholder,
input[type="password"] :-moz-placeholder,
textarea :-moz-placeholder,
select :-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}

input[type="email"] ::-moz-placeholder,
input[type="number"] ::-moz-placeholder,
input[type="search"] ::-moz-placeholder,
input[type="text"] ::-moz-placeholder,
input[type="tel"] ::-moz-placeholder,
input[type="url"] ::-moz-placeholder,
input[type="password"] ::-moz-placeholder,
textarea ::-moz-placeholder,
select ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

input[type="email"] :-ms-input-placeholder,
input[type="number"] :-ms-input-placeholder,
input[type="search"] :-ms-input-placeholder,
input[type="text"] :-ms-input-placeholder,
input[type="tel"] :-ms-input-placeholder,
input[type="url"] :-ms-input-placeholder,
input[type="password"] :-ms-input-placeholder,
textarea :-ms-input-placeholder,
select :-ms-input-placeholder {
  color: #999;
}

/**
 * Label Notes
 * Very simple base styles which can be built apon with formfield classes
 */

/**
 * input Notes
 * 
 */

/**
 * input Submit Notes
 * 
 */

/**
 * Select Notes
 * 
 */

/**
 * Textarea Notes
 * 
 */

textarea {
  height: 72px;
}

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - base/type
 *
 *
 * USED WITH
 * -
 * 
 */

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

a {
  color: #549CEF;
}

a:hover,
a:focus {
  outline: 0;
  color: #444;
}

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

ul {
  list-style: circle;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
}

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - base/type
 *
 *
 * USED WITH
 * -
 * 
 */

/**
 * Text element styling
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

b,
strong {
  font-weight: 700;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: italic;
}

/**
 * The grid is used for layout and structure. It should ideally be used to
 * wrap elements rather than alongside elements/components.
 *
 * DEPENDENCIES
 * - base/clearfix
 * - base/sizing
 *
 * USED WITH
 * - base/sizing
 *
 */

/**
 * showGrid Mixin
 * - Adds styling to make the grid visibile
 */

/**
 * GRID COMPONENT STYLING
 * - Extends clearfix to stop floated children collapsing the container
 */

/**
 * Row Notes
 * - Extends clearfix to stop floated children collapsing the container
 * - Sets a max width if set and also adds left and right margins to center align
 * - Adds a row gutter if set
 */

/**
 * Column Notes
 * - Floats left to horizontally align multiple columns
 * - Sets a default width so there is no need to add additional classes for full width columns
 * - Adds a column gutter
 */

.Grid-column {
  float: left;
  padding: 0 24px;
}

.Grid-column--slim {
  padding-top: 0;
  padding-bottom: 0;
}

.Grid-column--flat {
  padding: 0;
}

/**
 * GRID COVER COMPONENT STYLING
 * Creates a grid which expands column heights to that of the highest.
 * Provides the ability to vertically align columns.
 *
 * - Extends clearfix to stop floated children collapsing the container
 */

/**
 * Row Notes
 * - Extends clearfix to stop floated children collapsing the container
 * - Sets a max width if set and also adds left and right margins to center align
 * - Adds a row gutter if set
 */

.GridCover-row {
  display: table;
  vertical-align: top;
}

/**
 * Column Notes
 * - Floats left to horizontally align multiple columns
 * - Sets a default width so there is no need to add additional classes for full width columns
 * - Adds a column gutter
 */

.GridCover-column {
  display: table-cell;
  vertical-align: inherit;
  padding: 0 24px;
}

.GridCover-row--middle,
.GridCover-column--middle {
  vertical-align: middle;
}

.GridCover-row--bottom,
.GridCover-column--bottom {
  vertical-align: bottom;
}

.GridCover-row--top,
.GridCover-column--top {
  vertical-align: top;
}

.Grid-center .Grid-column {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/**
 * SHOW GRID STYLING
 * Provides styling that makes the columns and gutters visible.
 */

/*
 * TODO:
 */

.Layer-base {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Layers {
  position: relative;
}

.Layer-base {
  z-index: 1;
}

.Layer {
  position: relative;
  z-index: 2;
}

.Layer + .Layer {
  z-index: 3;
}

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

.Media,
.Media-body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.Media-image img,
.Media-imageAlt img {
  display: block;
}

.Media-image,
.Media-imageMiddle {
  margin-right: 12px;
}

.Media-image {
  float: left;
}

.Media-imageAlt,
.Media-imageAltMiddle {
  margin-left: 12px;
}

.Media-imageAlt {
  float: right;
}

.Media-bodyMiddle,
.Media-imageMiddle {
  display: inline-block;
  vertical-align: middle;
}

.Media-imageMiddle img {
  vertical-align: bottom;
}

/*
 * Default nav styling
 */

/*
 * Default Nav styling
 */

.Nav {
  font-size: 11px;
  font-size: 0.78571rem;
  font-weight: 700;
  text-transform: uppercase;
}

.Nav a {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
}

.Nav a:hover,
.Nav a:focus {
  text-decoration: underline;
}

/*
 * Nav list styling
 */

/*
 * Nav list horizontal styling
 */

/*
 * Nav bar styling
 */

.Nav-bar {
  font-size: 14px;
  font-size: 1rem;
  position: relative;
  padding: 12px 24px;
  margin: 0;
}

.Nav-bar .Nav-item {
  margin-right: 30px;
  display: none;
}

@media only screen and (min-width: 1120px) {
  .Nav-bar .Nav-item {
    display: inline-block;
  }
}

.Nav-itemBrand {
  display: inline-block;
  font-size: 24px;
  font-size: 1.71429rem;
}

.Nav-itemBrand a {
  color: #444;
}

.Nav-itemToggle {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  margin-right: 0;
}

.Nav-itemToggleCheck {
  display: none;
}

.Nav-itemToggleCheck:checked + .Nav-bar .Nav-item {
  display: block;
}

.Nav-itemToggleCheck:checked + .Nav-bar .Nav-item.Nav-itemToggle:before {
  content: '×';
  position: absolute;
  left: 18px;
  top: 50%;
  margin-top: -10.2px;
}

.Nav-itemToggleCheck:checked + .Nav-bar .Nav-item .Nav-itemToggleLabel {
  padding-left: 2.75em;
  padding-right: 1.75em;
}

.Nav-itemToggleLabel {
  display: inline-block;
  font-size: 14px;
  font-size: 1rem;
}

@media only screen and (min-width: 1120px) {
  .Nav-itemToggleLabel {
    display: none;
  }
}

/*
* Nav tabs styling
*/

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

/*
 * Stack default
 */

.Stack {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*
 * Stack hero??
 */

/*
 * Stack fixed image top or bottom??
 */

/*
 * Stack Alert
 */

.StackAlert {
  padding-top: 18px;
  padding-bottom: 18px;
}

/*
 * Stack wide??
 */

/*# sourceMappingURL=stacks.css.map */