// BASE ELEMENTS
//
// Some styling for base html elements.
// Elements include html, element and a conditional * catch all box-sizing.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - none
//
// VARIABLES </br>
// - $c-global-boxSizing: box-sizing !default;
//
// - $html-fontSize: 87.5% !default;
//
// - $body-fontSize: $FontSize-b !default; </br>
// - $body-lineHeight: 1.6 !default; </br>
// - $body-fontWeight: 400 !default; </br>
// - $body-fontFamily: $FontFamily-copy !default; </br>
// - $body-fontColour: $Colour-base !default;
//
// Styleguide 15.1.0.

/*
 * TODO:
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$c-global-boxSizing: border-box !default;

$html-fontSize: 100% !default;

$body-fontSize: $FontSize-b !default;
$body-lineHeight: 1.5 !default;
$body-fontWeight: normal !default;
$body-fontFamily: $FontFamily-copy !default;
$body-fontColour: $Colour-base !default;
$c-body-backgroundColour: false !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-element-base == true {
	* {
		@include conditional( $c-global-boxSizing ) { box-sizing: $c-global-boxSizing };
	}

	html {
		font-size: $body-fontSize / 16;
	}

	body {
		@include conditional( $c-body-backgroundColour ) { background-color: $c-body-backgroundColour };

		font-size: convert-to-em($body-fontSize, $body-fontSize);
		line-height: $body-lineHeight;
		font-weight: $body-fontWeight;
		font-family: $body-fontFamily;
		color: $body-fontColour;

		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}
}