// --------------------------------------------------------------------------
// LINK ELEMENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

 // Styleguide 20.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$link-colour: $Colour-primary !default;
$link-colour--hover: $Colour-base !default;

$c-link-outline: 0;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%link {
	color: $link-colour;

	&:hover,
	&:focus {
		@include conditional( $c-link-outline ) { outline: $c-link-outline };

		color: $link-colour--hover;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-element-links == true {

	a {
		@extend %link;
	}

}