// --------------------------------------------------------------------------
// LIST ELEMENTS
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

 // Styleguide 21.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$c-list-ulStyle: circle !default;
$c-list-olStyle: false !default;

$c-list-paddingLeft: false !default;
$c-list-marginTop: false !default;
$c-list-marginBottom: false !default;

$c-listElement-paddingTop: ($Leading / 2) !default;
$c-listElement-paddingBottom: ($Leading / 2) !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-element-lists == true {

	ul {
		@include conditional( $c-list-ulStyle ) { list-style: $c-list-ulStyle; }
	}
	

	ol {
		@include conditional( $c-list-olStyle ) { list-style: $c-list-olStyle; }
	}
	

	ol,
	ul {
		@include conditional( $c-list-marginTop ) { margin-top: $c-list-marginTop; }
		@include conditional( $c-list-marginBottom ) { margin-bottom: $c-list-marginBottom; }
		@include conditional( $c-list-paddingLeft ) { padding-left: $c-list-paddingLeft; }
	}
	

	li {
		@include conditional( $c-listElement-paddingTop ) { padding-top: $c-listElement-paddingTop; }
		@include conditional( $c-listElement-paddingBottom ) { padding-bottom: $c-listElement-paddingBottom; }
	}

}