// ASPECT BASE
//
// Aspect ratios for scaling media whilst keeping aspect ratios.
//
// DEPENDENCIES </br>
// - base/sizing
//
// EXTENDS </br>
// - none
//
// VARIABLES </br>
// - none
//
// .aspect--portrait	- Used on portrait images for responsive scaling
//
// Markup:
// <img src="http://placehold.it/600x300" alt="A landscape image" class="aspect {$modifiers}">
//
// Styleguide 6.1.0.

/*
 * TODO: Create a generator mixin which can be used to create custom aspects
 */



// VARIABLES START ->

// --------------------------------------------------------------------------
// ASPECT VARIABLES
// --------------------------------------------------------------------------

// VARIABLES END <-



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%aspect {
	width: 100%;
	height: auto;
}

%aspectPortrait {
	width: auto;
	height: 100%;
}


// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-aspect == true {

	.aspect {
		@extend %aspect;
	}
	
	.aspect--portrait {
		@extend %aspectPortrait;
	}
}