//
// button BASE
//
// The .button class can be used to style markup to look like a button.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - %button
// - %button--primary
//
// VARIABLES </br>
// - $button-padding: ($Leading * 1.5) ($Leading * 4.5) !default; </br>
// - $button-textColour: $Colour-primary !default; </br>
// - $c-button-textColour--hover: $Colour-base !default; </br>
// - $button-fontSize: $FontSize-small !default; </br>
// - $button-fontWeight: $FontWeight-bold !default; </br>
// - $button-lineHeight: 1 !default; </br>
// - $c-button-textCase: uppercase !default; </br>
// - $button-backgroundColour: transparent !default; </br>
// - $c-button-borderRadius: 4px !default; </br>
// - $button-border: 1px solid $Colour-primary !default; </br>
// - $c-button-borderColour--hover: false !default; </br>
// - $c-button-outline: 0 !default; </br>
// - $c-button-textColour--primary: $Colour-white !default; </br>
// - $c-button-textColour--primaryHover: $Colour-base !default; </br>
// - $c-button-backgroundColour--primary: $Colour-primary !default; </br>
// - $c-button-backgroundColour--primaryHover: transparent !default; </br>
// - $c-button-borderColour--primary: transparent !default; </br>
// - $c-button-borderColour--primaryHover: $Colour-primary !default; </br>
//
// .button--primary				- Primary button modifier used to catch the users eye
// :hover :focus				- For consistancy the :hover and :focus styling is the same for the default an button mods
//
// Markup:
// <a href="#" class="button {$modifiers}">Hello</a>
//
// Styleguide 20.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$button-paddingSides: ($Leading * 3.75) !default;
$c-button-textColour: $Colour-primary !default;
$c-button-textColour--hover: $Colour-base !default;
$c-button-fontSize: $FontSize-small !default;
$c-button-fontWeight: $FontWeight-bold !default;
$c-button-lineHeight: 1 !default;
$c-button-backgroundColour--hover:  false !default;
$c-button-borderColour--hover: false !default;

$c-button-textColour--primary: $Colour-white !default;
$c-button-textColour--primaryHover: $Colour-base !default;
$c-button-backgroundColour--primary: $Colour-primary !default;
$c-button-backgroundColour--primaryHover: transparent !default;
$c-button-borderColour--primary: transparent !default;
$c-button-borderColour--primaryHover: $Colour-primary !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------


%button {
	@extend %input;

	display: inline-block;
	text-align: center;
	text-decoration: none;
	// white-space: nowrap;
	cursor: pointer;

	padding-left: ($button-paddingSides);
	padding-right: ($button-paddingSides);
	
	@include conditional( $c-button-fontWeight ) { font-weight: $c-button-fontWeight; }
	@include conditional( $c-button-textColour ) { color: $c-button-textColour; }

	&:hover,
	&:focus {
		@include conditional( $c-button-textColour--hover ) { color: $c-button-textColour--hover; }
		@include conditional( $c-button-borderColour--hover ) { border-color: $c-button-borderColour--hover; }
		@include conditional( $c-button-backgroundColour--hover ) { background-color: $c-button-backgroundColour--hover; }
	}
}

%button--primary {
	@include conditional( $c-button-textColour--primary ) { color: $c-button-textColour--primary; }
	@include conditional( $c-button-backgroundColour--primary ) { background-color: $c-button-backgroundColour--primary; }
	@include conditional( $c-button-borderColour--primary ) { border-color: $c-button-borderColour--primary; }

	&:hover,
	&:focus {
		@include conditional( $c-button-textColour--primaryHover ) { color: $c-button-textColour--primaryHover; }
		@include conditional( $c-button-backgroundColour--primaryHover ) { background-color: $c-button-backgroundColour--primaryHover; }
		@include conditional( $c-button-borderColour--primaryHover ) { border-color: $c-button-borderColour--primaryHover; }
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-buttons == true {

	.button {
	  @extend %button;
	}


	.button--primary {
		@extend %button--primary;
	}
}