//
// CLEARFIX BASE
//
// Clearfix is used on parents to contain floated children.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - %clearfix
//
// VARIABLES </br>
// none
//
// Markup:
// <div href="#" class="clearfix"><div class="pullLeft">Hello</div></div>
//
// Styleguide 9.1.0.



// VARIABLES START ->

// --------------------------------------------------------------------------
// CLEARFIX VARIABLES
// --------------------------------------------------------------------------

// VARIABLES END <-



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.clearfix {
	@extend %clearfix;
}