//
// Input BASE
//
// The .input class can be used to style markup to look like a button/form input.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - 
//
// VARIABLES </br>
// - 
//
// .input						- input styling
// .input--multiline			- multi line styling
//
// Markup:
// <textarea class="input input--multiline" placeholder="Base input styling"></textarea>
// <button href="#" class="input">Base button styling</button>
// <input type="text" class="input {$modifiers}" placeholder="Base input styling" />
//
// Styleguide 7.1.0.


// VARIABLES START ->

// --------------------------------------------------------------------------
// INPUT VARIABLES
// --------------------------------------------------------------------------

$input-paddingVertical: $Leading * 1.25 !default;
$input-paddingVertical--small: $Leading * 1 !default;
$input-paddingHorizontal: $Leading * 2.5 !default;
$input-paddingHorizontal--small: $Leading * 1.5 !default;
$c-input-fontSize: $FontSize-small !default;
$c-input-fontSize--small: $FontSize-tiny !default;
$c-input-lineHeight: ($c-input-fontSize / ($c-input-fontSize * 0 + 1)) / 17 !default;
$c-input-lineHeight--small: ($c-input-fontSize--small / ($c-input-fontSize--small * 0 + 1)) / 15 !default;
$c-input-borderRadius: 4px !default;
$input-border: 1px solid $Colour-primary !default;
$input-align: top !default;
$input-outline: none !default;

$input-backgroundColour: transparent !default;

$inputMulti-multiplier: 4 !default;


// VARIABLES END <-




// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%input {
	padding: $input-paddingVertical $input-paddingHorizontal;
	@include font-size($c-input-fontSize);
	line-height: $c-input-lineHeight;
	outline: $input-outline;
	vertical-align: $input-align;
	@include conditional( $c-global-boxSizing, false ) { box-sizing: border-box; }

	background-color: $input-backgroundColour;
	border: $input-border;
	@include conditional( $c-input-borderRadius ) { border-radius: $c-input-borderRadius; }
}

%input--small {
	padding: $input-paddingVertical--small $input-paddingHorizontal--small;
	@include font-size($c-input-fontSize--small);
	line-height: $c-input-lineHeight--small;
}

%input--multiline {
	height: (($c-input-lineHeight * $c-input-fontSize) * $inputMulti-multiplier) + ($input-paddingVertical * 2);
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-input == true {

	.input {
	  @extend %input;
	}

	.input--small {
		@extend %input--small;
	}


	.input--multiline {
	  @extend %input--multiline;
	}
}