//
// SIZING BASE
//
// Size styling which can be used in conjunction with other objects such as the grid, media element or images.
// Sizes are responsive and based on ratios for clearer naming and understanding.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - %oneWhole </br>
// - %oneHalf </br>
// - %oneThird </br>
// - %twoThirds </br>
// - %oneQuarter </br>
// - %twoQuarters </br>
// - %threeQuarters
//
// VARIABLES </br>
// - $Column-gutter: 20px !default; </br>
// - $Column-count: 12 !default; </br>
// - $Column-selector: column !default; </br>
// - $Column-prefix: column- !default; </br>
// - $Column-offsetSelector: column-offset- !default; </br>
// - $Row-selector: row !default; </br>
// - $Row-width: 100% !default; </br>
// - $Row-maxWidth: 1080px !default; </br>
// - $Row-margin: 0 auto !default;
//
// Markup:
// <img src="http://placekitten.com/g/320/240" class="oneWhole {$modifiers}" alt="Cute kitten">
//
// .oneWhole 			- Removes list styling and resets left padding to 0
// .oneHalf				- Displays the list in an horizontal format. Uses the noBullet list to reset styling.
// .oneThird			- Displays the list in an horizontal format. Uses the noBullet list to reset styling.
// .twoThirds			- Displays the list in an horizontal format. Uses the noBullet list to reset styling.
// .oneQuarter			- Displays the list in an horizontal format. Uses the noBullet list to reset styling.
// .twoQuarters			- Displays the list in an horizontal format. Uses the noBullet list to reset styling.
// .threeQuarters		- Displays the list in an horizontal format. Uses the noBullet list to reset styling.
//
// Styleguide 12.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS 
// --------------------------------------------------------------------------




// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------




// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

/*
 * TODO: Think of a better way to generate these classes
 */

%oneWhole {
	width: percentage(1 / 1);
}

%oneHalf {
	width: percentage(1 / 2);
}

%oneThird {
	width: percentage(1 / 3);
}

%twoThirds {
	width: percentage(2 / 3);
}

%oneQuarter {
	width: percentage(1 / 4);
}

%twoQuarters {
	width: percentage(2 / 4);
}

%threeQuarters {
	width: percentage(3 / 4);
}



%offset-oneWhole {
	margin-left: percentage(1 / 1);
}

%offset-oneHalf {
	margin-left: percentage(1 / 2);
}

%offset-oneThird {
	margin-left: percentage(1 / 3);
}

%offset-twoThirds {
	margin-left: percentage(2 / 3);
}

%offset-oneQuarter {
	margin-left: percentage(1 / 4);
}

%offset-twoQuarters {
	margin-left: percentage(2 / 4);
}

%offset-threeQuarters {
	margin-left: percentage(3 / 4);
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-sizing == true {
	.oneWhole {
		@extend %oneWhole;
	}

	.oneHalf {
		@extend %oneHalf;
	}

	.oneThird {
		@extend %oneThird;
	}

	.twoThirds {
		@extend %twoThirds;
	}

	.oneQuarter {
		@extend %oneQuarter;
	}

	.twoQuarters {
		@extend %twoQuarters;
	}

	.threeQuarters {
		@extend %threeQuarters;
	}
}



@if $use-base-offset == true {
	.offset-oneWhole {
		@extend %offset-oneWhole;
	}

	.offset-oneHalf {
		@extend %offset-oneHalf;
	}

	.offset-oneThird {
		@extend %offset-oneThird;
	}

	.offset-twoThirds {
		@extend %offset-twoThirds;
	}

	.offset-oneQuarter {
		@extend %offset-oneQuarter;
	}

	.offset-twoQuarters {
		@extend %offset-twoQuarters;
	}

	.offset-threeQuarters {
		@extend %offset-threeQuarters;
	}
}