// LAYERS COMPONENT
//
// Object description
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - none
//
// VARIABLES </br>
// - none
//
// .object-classes	- class description
//
// Markup:
// <div class="Layers"></div>
//
// Styleguide 0.0.0.

/*
 * TODO:
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%layer-fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-component-layers == true {
	.Layers {
		position: relative;
	}

	.Layer-base {
		@extend %layer-fill;

		z-index: 1;
	}

	.Layer {
		position: relative;
		z-index: 2;

		+ {
			.Layer {
				z-index: 3;
			}
		}
	}
}