// --------------------------------------------------------------------------
// MEDIA ELEMENT COMPONENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

 // TODO: make vertical align reusable extend.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$mediaElement-margin: $Leading * 2 !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-component-mediaElement == true {

	.Media,
	.Media-body {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
	}

	.Media-image,
	.Media-imageAlt {
		img {
			display: block;
		}
	}

	.Media-image,
	.Media-imageMiddle {
		margin-right: $mediaElement-margin;
	}

	.Media-image {
		float: left;
	}

	.Media-imageAlt,
	.Media-imageAltMiddle {
		margin-left: $mediaElement-margin;
	}

	.Media-imageAlt {
		float: right;
	}

	.Media-bodyMiddle,
	.Media-imageMiddle {
		display: inline-block;
		vertical-align: middle;
	}

	.Media-imageMiddle img {
		vertical-align: bottom;
	}


}