// --------------------------------------------------------------------------
// STACK COMPONENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - 
 *
 *
 * USED WITH
 * -
 * 
 */

 // Styleguide 28.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$Stack-paddingTop: $Leading * 10 !default;
$Stack-paddingBottom: $Leading * 10 !default;

$StackAlert-paddingTop: $Leading * 3 !default;
$StackAlert-paddingBottom: $Leading * 3 !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

/*
 * Stack default
 */

.Stack {
	padding-top: $Stack-paddingTop;
	padding-bottom: $Stack-paddingBottom;
}


/*
 * Stack hero??
 */


/*
 * Stack fixed image top or bottom??
 */

 // .Stack-splash {}


/*
 * Stack Alert
 */
 .StackAlert {
	padding-top: $StackAlert-paddingTop;
	padding-bottom: $StackAlert-paddingBottom;
}


/*
 * Stack wide??
 */