// --------------------------------------------------------------------------
// Base Setup
// --------------------------------------------------------------------------

$use-base-typography: false !default;



// --------------------------------------------------------------------------
// Element Setup
// --------------------------------------------------------------------------

// $use-element-type: true !default;



// --------------------------------------------------------------------------
// Component Setup
// --------------------------------------------------------------------------

$use-component-grid: true !default;
$use-component-gridCover: true !default;
$show-grid: true !default;