// --------------------------------------------------------------------------
// Base Setup
// --------------------------------------------------------------------------

$use-base-aspect: true !default;
$use-base-buttons: true !default;
$use-base-formfields: true !default;
$use-base-normalize: true !default;
$use-base-sizing: true !default;
$use-base-typography: true !default;



// --------------------------------------------------------------------------
// Element Setup
// --------------------------------------------------------------------------

$use-element-lists: true !default;



// --------------------------------------------------------------------------
// Component Setup
// --------------------------------------------------------------------------

$use-component-grid: true !default;
$use-component-gridCover: true !default;
$show-grid: true !default;