// --------------------------------------------------------------------------
// Setup 
// --------------------------------------------------------------------------

@import "_setup.scss";



// --------------------------------------------------------------------------
// Global 
// --------------------------------------------------------------------------

@import "global/_variables.scss";
@import "global/_function.scss";
@import "global/_mixins.scss";



// --------------------------------------------------------------------------
// Base 
// --------------------------------------------------------------------------

@import "base/_normalize.scss";

@import "base/_clearfix.scss";
@import "base/_type.scss";
@import "base/_sizing.scss";



// --------------------------------------------------------------------------
// Element 
// --------------------------------------------------------------------------

@import "elements/_headings.scss";
@import "elements/_paragraph.scss";



// --------------------------------------------------------------------------
// Component 
// --------------------------------------------------------------------------

@import "components/_grid.scss";