 // --------------------------------------------------------------------------
// Setup 
// --------------------------------------------------------------------------

// Stacks Setup
//
// Styleguide 1.
@import "_setupStacks.scss";



// --------------------------------------------------------------------------
// Global 
// --------------------------------------------------------------------------

// Global Variables
//
// Styleguide 2.
@import "global/_variables.scss";


// Global Functions
//
// Styleguide 3.
@import "global/_function.scss";


// Global Mixins
//
// Styleguide 4.
@import "global/_mixins.scss";



// --------------------------------------------------------------------------
// Base 
// --------------------------------------------------------------------------

// Base Setup
//
// Styleguide 5.

// Either normalize or css reset can be used to give a consistant starting
// point to a project. If neither are desired they can both be turned off.
// This is set in the _setupStacks file.
// The defulat is reset.
//
// Styleguide 5.1.0.
@import "base/_normalize.scss";
@import "base/_reset.scss";

// Base Aspect
//
// Styleguide 6.
@import "base/_aspect.scss";


@import "base/_input.scss";


// Buttons
//
@import "base/_buttons.scss";


// Clearfix
//
@import "base/_clearfix.scss";


// Base Formfields
//
@import "base/_formfields.scss";




// Base Lists
//
@import "base/_lists.scss";


// Base Sizing
//
@import "base/_sizing.scss";


// Base Type
//
@import "base/_type.scss";



// --------------------------------------------------------------------------
// Element 
// --------------------------------------------------------------------------

// Elements Base
//
@import "elements/_base.scss";

@import "elements/_blockquote.scss";

// Elements Forms
//
@import "elements/_forms.scss";
@import "elements/_headings.scss";
@import "elements/_links.scss";
@import "elements/_lists.scss";
@import "elements/_paragraph.scss";
@import "elements/_type.scss";



// --------------------------------------------------------------------------
// Component 
// --------------------------------------------------------------------------

@import "components/_grid.scss";
@import "components/_layers.scss";
@import "components/_media-element.scss";

// Components Nav
//
@import "components/_nav.scss";
@import "components/_stacks.scss";