//
// CLEARFIX BASE
//
// Clearfix is used on parents to contain floated children.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - %clearfix
//
// VARIABLES </br>
// none
//
// Markup:
// <div href="#" class="clearfix">Hello</div>
//
// Styleguide 30.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.clearfix {
	@extend %clearfix;
}