//
// FORMFIELD BASE
//
// Formfields can be used to contain form label and input groups for a constant layout and markup strategy. 
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - none
//
// VARIABLES </br>
// - none
//
// Markup:
// <div class="formfield">
// 	<label>First Name</label>
//	<input type="text">
//</div>
//
// Styleguide 4.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-formfields == true {

	/**
	 * Formfiled styling
	 * 
	 */

	 .formfield {
	 	+ .formfield {
	 		margin-top: $Leading * 2;
	 	}

	 	label {
	 		display: block;
	 	}

	 	input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="text"],
		input[type="tel"],
		input[type="url"],
		input[type="password"],
		textarea,
		select {
	 		width: 100%;
	 	}
	 }
}