//
// FORMFIELD BASE
//
// Formfields can be used to contain form label and input groups for a constant layout and markup strategy. 
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - none
//
// VARIABLES </br>
// - none
//
// .formfield--fill				- Makes inner inputs full width
//
// Markup:
// <div class="formfield {$modifiers}">
// 	<label>Label styling</label>
//	<input type="text" placeholder="Default input styling" />
//</div>
//
// Styleguide 40.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$c-formfield-spacing: $Leading * 2 !default;


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-formfields == true {

	/**
	 * Formfiled styling
	 * 
	 */

	.formfield {
		@include conditional( $c-formfield-spacing ) {
			+ .formfield {
				margin-top: $c-formfield-spacing;
			}
		};

		label {
			display: block;
		}
	}

	.formfield--fill {
		input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="text"],
		input[type="tel"],
		input[type="url"],
		input[type="password"],
		input[type="date"],
		input[type="time"],
		textarea,
		select {
			width: 100%;
		}
	}
}