//
// TODO: 
//		- best way to standardise lineheights (unitless vs units)
//		- multiple heading font weights?
//



//
// TYPE HEADING BASE
//
// Typography base classes which can be used and extended to bring reusable type styling.
// typeHeading styles that is used to add constant styling to typeHeadings.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - %typeHeading </br>
// - %typeHeading-1 </br>
// - %typeHeading-2 </br>
// - %typeHeading-3 </br>
// - %typeHeading-4 </br>
// - %typeHeading-5
//
// VARIABLES </br>
// - $c-typeHeading-fontFamily: false !default; </br>
// - $c-typeHeading-fontWeight: $FontWeight-bold !default; </br>
// - $c-typeHeading-margin: $Margin-heading !default;
//
// - $c-typeHeading1-fontSize: false !default; //set in normalise </br>
// - $c-typeHeading1-fontWeight: false !default; </br>
// - $c-typeHeading1-lineHeight: $LineHeight-h1 !default;
//
// - $c-typeHeading2-fontSize: $FontSize-h2 !default; </br>
// - $c-typeHeading2-fontWeight: false !default; </br>
// - $c-typeHeading2-lineHeight: $LineHeight-h2 !default;
//
// - $c-typeHeading3-fontSize: $FontSize-h3 !default; </br>
// - $typeHeading3-fontWeight: false !default; </br>
// - $typeHeading3-lineHeight: $LineHeight-h3 !default;
//
// - $c-typeHeading5-fontSize: $FontSize-h4 !default; </br>
// - $c-typeHeading4-fontWeight: false !default; </br>
// - $c-typeHeading4-lineHeight: $LineHeight-h4 !default;
//
// - $c-typeHeading5-fontSize: $FontSize-h5 !default; </br>
// - $c-typeHeading5-fontWeight: false !default; </br>
// - $c-typeHeading5-lineHeight: $LineHeight-h5 !default;
//
// Markup:
// <div class="typeHeading {$modifiers}">Heading styling</div>
//
// .typeHeading-1	- H1 heading style
// .typeHeading-2	- H2 heading style
// .typeHeading-3	- H3 heading style
// .typeHeading-4	- H4 heading style
// .typeHeading-5	- H5 heading style
//
// Styleguide 7.1.0.


//
// TYPE COPY
//
// Base copy default typography styling
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - %typeCopy 
//
// VARIABLES </br>
// - $c-typeCopy-fontSize: false !default; </br>
// - $c-typeCopy-lineHeight: false !default; </br>
// - $c-typeCopy-marginTop: $Margin-copy !default;
//
// Markup:
// <div class="typeCopy">Paragraph copy styling lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quasi sapiente esse consectetur totam maiores praesentium perferendis enim, sunt quae exercitationem soluta, mollitia voluptatem obcaecati ullam distinctio facilis nemo reiciendis.</div>
//
// Styleguide 7.2.0.


//
// TYPE LABEL
//
// Label default styling
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// - %typeLabel
//
// VARIABLES </br>
// - $c-typeLabel-fontSize: false !default; </br>
// - $c-typeLabel-lineHeight: false !default; </br>
// - $c-typeLabel-fontWeight: $FontWeight-bold !default; </br>
// - $c-typeLabel-marginTop: false !default; </br>
// - $c-typeLabel-colour: $Colour-baseFont--light !default;
//
// Markup:
// <div class="typeLabel">Form label styling</div>
//
// Styleguide 7.3.0.

/*
 * TODO: Rename %typeLabel so it has a more reusable name
 * TODO: Fix H1 font size is duplication in normalise and the extend
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$c-typeHeading-fontFamily: false !default;
$c-typeHeading-fontWeight: $FontWeight-bold !default;
$c-typeHeading-margin: $Margin-heading !default;
$c-typeHeading-marginFirstChild: 0 !default;

$c-typeHeading1-fontSize: $FontSize-h1 !default;
$c-typeHeading1-fontWeight: false !default;
$c-typeHeading1-lineHeight: $LineHeight-h1 !default;

$c-typeHeading2-fontSize: $FontSize-h2 !default;
$c-typeHeading2-fontWeight: false !default;
$c-typeHeading2-lineHeight: $LineHeight-h2 !default;

$c-typeHeading3-fontSize: $FontSize-h3 !default;
$typeHeading3-fontWeight: false !default;
$typeHeading3-lineHeight: $LineHeight-h3 !default;

$c-typeHeading5-fontSize: $FontSize-h4 !default;
$c-typeHeading4-fontWeight: false !default;
$c-typeHeading4-lineHeight: $LineHeight-h4 !default;

$c-typeHeading5-fontSize: $FontSize-h5 !default;
$c-typeHeading5-fontWeight: false !default;
$c-typeHeading5-lineHeight: $LineHeight-h5 !default;

$c-typeCopy-fontSize: false !default;
$c-typeCopy-lineHeight: false !default;
$c-typeCopy-marginTop: $Margin-copy !default;

$c-typeSmall-fontSize: $FontSize-small !default;
$c-typeSmall-lineHeight: false !default;
$c-typeSmall-marginTop: false !default;

$c-typeLead-fontSize: $FontSize-lead !default;
$c-typeLead-lineHeight: false !default;
$c-typeLead-marginTop: 0 !default;

$c-typeLabel-fontSize: false !default;
$c-typeLabel-lineHeight: false !default;
$c-typeLabel-fontWeight: $FontWeight-bold !default;
$c-typeLabel-marginTop: false !default;
$c-typeLabel-colour: $Colour-baseFont--light !default;


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

%typeHeading-style {
	@include conditional( $c-typeHeading-fontFamily ) { font-family: $c-typeHeading-fontFamily };
	@include conditional( $c-typeHeading-fontWeight ) { font-weight: $c-typeHeading-fontWeight };
}


%typeHeading-layout {
	@include conditional( $c-typeHeading-margin ) { margin: $c-typeHeading-margin };

	@include conditional( $c-typeHeading-marginFirstChild ) {
		&:first-child {
			margin: $c-typeHeading-marginFirstChild
		}
	};
}


%typeHeading {
	@extend %typeHeading-style !optional;
	@extend %typeHeading-layout !optional;
}


%typeHeading-size--1 {
	@include conditional( $c-typeHeading1-fontSize ) { @include font-size($c-typeHeading1-fontSize) };
	@include conditional( $c-typeHeading1-fontWeight ) { font-weight: $c-typeHeading1-fontWeight };
	@include conditional( $c-typeHeading1-lineHeight ) { line-height: $c-typeHeading1-lineHeight };
}


%typeHeading-size--2 {
	@include conditional( $c-typeHeading2-fontSize ) { @include font-size($c-typeHeading2-fontSize) };
	@include conditional( $c-typeHeading2-fontWeight ) { font-weight: $c-typeHeading2-fontWeight };
	@include conditional( $c-typeHeading2-lineHeight ) { line-height: $c-typeHeading2-lineHeight };
}


%typeHeading-size--3 {
	@include conditional( $c-typeHeading3-fontSize ) { @include font-size($c-typeHeading3-fontSize) };
	@include conditional( $typeHeading3-fontWeight ) { font-weight: $typeHeading3-fontWeight };
	@include conditional( $typeHeading3-lineHeight ) { line-height: $typeHeading3-lineHeight };
}


%typeHeading-size--4 {
	@include conditional( $c-typeHeading5-fontSize ) { @include font-size($c-typeHeading5-fontSize) };
	@include conditional( $c-typeHeading4-fontWeight ) { font-weight: $c-typeHeading4-fontWeight };
	@include conditional( $c-typeHeading4-lineHeight ) { line-height: $c-typeHeading4-lineHeight };
}


%typeHeading-size--5 {
	@include conditional( $c-typeHeading5-fontSize ) { @include font-size($c-typeHeading5-fontSize) };
	@include conditional( $c-typeHeading5-fontWeight ) { font-weight: $c-typeHeading5-fontWeight };
	@include conditional( $c-typeHeading5-lineHeight ) { line-height: $c-typeHeading5-lineHeight };
}


//
// TYPE COPY
//

%typeCopy-size {
	@include conditional( $c-typeCopy-fontSize ) { @include font-size($c-typeCopy-fontSize) };
	@include conditional( $c-typeCopy-lineHeight ) { line-height: $c-typeCopy-lineHeight };
}


%typeCopy-layout {
	@include conditional( $c-typeCopy-marginTop ) { margin: $c-typeCopy-marginTop };
}


%typeCopy {
	@extend %typeCopy-size !optional;
	@extend %typeCopy-layout !optional;
}


//
// TYPE SMALL
//

%typeSmall-size {
	@include conditional( $c-typeSmall-fontSize ) { @include font-size($c-typeSmall-fontSize) };
	@include conditional( $c-typeSmall-lineHeight ) { line-height: $c-typeSmall-lineHeight };
}

%typeSmall-layout {
	@include conditional( $c-typeSmall-marginTop ) { margin: $c-typeSmall-marginTop };
}

%typeSmall {
	@extend %typeSmall-size !optional;
	@extend %typeSmall-layout !optional;
}


//
// TYPE LEAD
//

%typeLead-size {
	@include conditional( $c-typeLead-fontSize ) { @include font-size($c-typeLead-fontSize) };
	@include conditional( $c-typeLead-lineHeight ) { line-height: $c-typeLead-lineHeight };
}

%typeLead-layout {
	@include conditional( $c-typeLead-marginTop ) { margin: $c-typeLead-marginTop };
}

%typeLead {
	@extend %typeLead-size !optional;
	@extend %typeLead-layout !optional;
}


//
// TYPE LABEL
//

%typeLabel-size {
	@include conditional( $c-typeLabel-fontSize ) { @include font-size($c-typeLabel-fontSize) };
	@include conditional( $c-typeLabel-lineHeight ) { line-height: $c-typeLabel-lineHeight };
}

%typeLabel-style {
	@include conditional( $c-typeLabel-fontWeight ) { font-weight: $c-typeLabel-fontWeight };
}

%typeLabel-layout {
	@include conditional( $c-typeLabel-marginTop ) { margin: $c-typeLabel-marginTop };
}

%typeLabel-theme {
	@include conditional( $c-typeLabel-colour ) { color: $c-typeLabel-colour };
}

%typeLabel {
	@extend %typeLabel-size !optional;
	@extend %typeLabel-style !optional;
	@extend %typeLabel-layout !optional;
	@extend %typeLabel-theme !optional;
}


//
// TYPE UTILS
//

%typeCenter {
	text-align: center;
}

%typeRight {
	text-align: right;
}

%typeLeft {
	text-align: left;
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

@if $use-base-typography == true or $use-base-typography--headings == true {

	/**
	 * typeHeading Notes
	 * - Default typeHeading styles that is used to add constant
	 * styling to typeHeadings
	 */

	.typeHeading {
		@extend %typeHeading;
	}

	
	/**
	 * H1 Notes
	 * - Font size set by Normalize
	 * - Margin set by Normalize
	 */

	.typeHeading-1 {
		@extend %typeHeading-size--1;
	}


	/**
	 * H2 Notes
	 */

	.typeHeading-size--2 {
		@extend %typeHeading-size--2;
	}


	/**
	 * H3 Notes
	 */

	.typeHeading-size--3 {
		@extend %typeHeading-size--3;
	}

	/**
	 * H4 Notes
	 */

	.typeHeading-size--4 {
		@extend %typeHeading-size--4;
	}


	/**
	 * H5 Notes
	 */

	.typeHeading-size--5 {
		@extend %typeHeading-size--5;
	}

}


@if $use-base-typography == true or $use-base-typography--copy == true {
	/**
	 * Copy Notes
	 */

	.typeCopy {
		@extend %typeCopy;
	}


	/**
	 * Small Notes
	 */

	.typeSmall {
		@extend %typeSmall;
	}



	/**
	 * Lead Notes
	 */

	.typeLead {
		@extend %typeLead;
	}


	/**
	 * Label Notes
	 */

	.typeLabel {
		@extend %typeLabel;
	}

}



@if $use-base-typographyUtils == true {
	.typeCenter {
		@extend %typeCenter;
	}

	.typeRight {
		@extend %typeRight;
	}

	.typeLeft {
		@extend %typeLeft;
	}
}